<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dl_btn_download.png</key>
		<dict>
			<key>width</key>
			<integer>326</integer>
			<key>height</key>
			<integer>64</integer>
			<key>originalWidth</key>
			<integer>326</integer>
			<key>originalHeight</key>
			<integer>64</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>dl_btn_download_push.png</key>
		<dict>
			<key>width</key>
			<integer>326</integer>
			<key>height</key>
			<integer>64</integer>
			<key>originalWidth</key>
			<integer>326</integer>
			<key>originalHeight</key>
			<integer>64</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>dl_checkbox_off.png</key>
		<dict>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>40</integer>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>dl_checkbox_on.png</key>
		<dict>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>40</integer>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>174</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>dl_download_movie.png</key>
		<dict>
			<key>width</key>
			<integer>430</integer>
			<key>height</key>
			<integer>202</integer>
			<key>originalWidth</key>
			<integer>430</integer>
			<key>originalHeight</key>
			<integer>202</integer>
			<key>x</key>
			<integer>42</integer>
			<key>y</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>dl_download_voice.png</key>
		<dict>
			<key>width</key>
			<integer>338</integer>
			<key>height</key>
			<integer>202</integer>
			<key>originalWidth</key>
			<integer>338</integer>
			<key>originalHeight</key>
			<integer>202</integer>
			<key>x</key>
			<integer>474</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>dl_loading_bar01.png</key>
		<dict>
			<key>width</key>
			<integer>830</integer>
			<key>height</key>
			<integer>108</integer>
			<key>originalWidth</key>
			<integer>830</integer>
			<key>originalHeight</key>
			<integer>108</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>336</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>dl_loading_bar02.png</key>
		<dict>
			<key>width</key>
			<integer>766</integer>
			<key>height</key>
			<integer>14</integer>
			<key>originalWidth</key>
			<integer>766</integer>
			<key>originalHeight</key>
			<integer>14</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>446</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>0</integer>
		<key>textureFileName</key>
		<string>data_download0.png</string>
		<key>realTextureFileName</key>
		<string>data_download0.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>2048</integer>
		<key>height</key>
		<integer>2048</integer>
	</dict>
</dict>
</plist>
